PORT=3000
DATABASE_URL=postgresql://postgres:123456@127.0.0.1:5432/tenpo?schema=public
# DATABASE_URL=postgresql://postgres:123456@tenpo-db:5432/tenpo?schema=public
JWT_SECRET=jwt-secret
FRONTEND_URL=http://localhost:5173

NODE_ENV=development